<!-- <!-- <h3>Contact Form</h3>

<form method="post" action="{% url 'contact' %}">
	{% csrf_token %}
	<textarea name="message" placeholder="Message..."></textarea>
	<input type="submit" />
</form> -->

<!-- <div class ="container">
<form method="post" class = "was-validated"  >
	{% csrf_token %}
	<div class="form-group">
	  <label for="fname">Your Name</label>
	  <input name="name" id="fname" class ="form-control" id="exampleInputEmail1" placeholder="" required><br><br>
	  
	
	  <label for="exampleInputEmail">Email</label>
	  <input name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required><br><br>
	
		<label for="subject">Subject</label>
		<textarea name="subject" type="subject" class="form-control" placeholder="" style="height:200px" required></textarea><br> <br>
	  </div>
	<button type="submit" class="btn btn-primary">Submit</button>

</div>
  </form> --> 