<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .bg-2 {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;

            margin: 6px;
            border: 1px solid #ccc;
            float: left;
            width: 200px;
          }

          .bg-1 {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
          }

          
    </style>
    </head>
    <body>
        <div class="container">
            <h1>Clothes Recommendation system </h1>
            
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
          
            
            <!-- <h2>Query:</h2> -->
            <div class="container-fluid bg-1 text-center">
            {% if query_path %}
            <img src="{{ query_path }}" width="150px">
            {% endif %}
            </div>
            <!-- <h2>Results:</h2> -->
            {% for score in scores %}

        

            <!-- <p>Computed Score: {{ computed_score }}</p> -->
            <div class="container-fluid bg-2 text-center">
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ score[1] }}" height="150px">
                <figcaption>{{ score[0] }}</figcaption>
            </figure>
        </div>
            {% endfor %}
        </div>
    </body>
</html>


